/* line 1, ../sass/style.scss */
.right {
  float: right;
}

/* line 5, ../sass/style.scss */
.left {
  float: left;
}

/* line 9, ../sass/style.scss */
.main-container {
  width: 600px;
  margin: auto;
}
/* line 12, ../sass/style.scss */
.main-container .logo {
  background: url("../img/logo.png");
  width: 595px;
  height: 169px;
  margin: auto;
  margin-top: 60px;
}
/* line 20, ../sass/style.scss */
.main-container .imgstatus {
  margin-top: 100px;
  width: 359px;
  height: 407px;
  background-repeat: no-repeat;
}
/* line 25, ../sass/style.scss */
.main-container .imgstatus.nobody {
  background: url("../img/nobody.png");
}
/* line 29, ../sass/style.scss */
.main-container .imgstatus.busy {
  background: url("../img/busy.png");
}
/* line 34, ../sass/style.scss */
.main-container .textstatus {
  display: inline-block;
  margin-top: 160px;
}
/* line 37, ../sass/style.scss */
.main-container .textstatus.nobody {
  font-size: 54px;
  color: #0051A5;
  letter-spacing: 0px;
  width: 210px;
}
/* line 44, ../sass/style.scss */
.main-container .textstatus.busy {
  font-size: 54px;
  color: #FC5953;
  letter-spacing: 0px;
  width: 150px;
}
