.right {
  float: right;
}

.left {
  float: left;
}

.main-container {
  width: 600px;
  margin: auto;
  .logo {
    background: url('../img/logo.png');
    width: 595px;
    height: 169px;
    margin: auto;
    margin-top: 60px;
  }

  .imgstatus {
    margin-top: 100px;
    width: 359px;
    height: 407px;
    background-repeat: no-repeat;
    &.nobody {
      background: url('../img/nobody.png');
    }

    &.busy {
      background: url('../img/busy.png');
    }
  }

  .textstatus {
    display: inline-block;
    margin-top: 160px;
    &.nobody {
      font-size: 54px;
      color: #0051A5;
      letter-spacing: 0px;
      width: 210px;
    }

    &.busy {
      font-size: 54px;
      color: #FC5953;
      letter-spacing: 0px;
      width: 150px;
    }
  }
}