<html lang="en">
<head>
  <title>Mr. Milu - BusyBath</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

{%  verbatim %}
<div class="main-container" ng-app="busybath" ng-controller="BusybathController">
  <div class="logo"></div>
  <div class="imgstatus nobody left" ng-class="{'busy': isBusy()}"></div>
  <div class="textstatus nobody right" ng-class="{'busy': isBusy()}">{{ getStatusText() }}</div>
</div>
{% endverbatim %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js" charset="utf-8"></script>
<script src="/static/js/busybathController.js" charset="utf-8"></script>
</body>
</html>